body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/IMG_1861.jpg");
  background-size: cover;
  background-position: center;
  color: #fff !important;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.wrap img {
  width: 300px;
}

h1 {
  font-weight: 700 !important;
}

.wrap-button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #f49d0f;
  border: 2px solid #f49d0f;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.5s;
}

.wrap-button a:hover {
  background-color: transparent;
}

.modal-content {
  color: #000 !important;
  width: 79% !important;
}

.modal-header {
  border-bottom: none !important;
  display: block !important;
  text-align: center !important;
}

.modal-header p {
  color: #010951;
  font-style: italic;
  margin-bottom: 0 !important;
}

.modal-content img {
  width: 150px;
}

.modal-content ul {
  display: flex;
  padding-left: 12px;
}

.modal-content ul li {
  list-style: none;
  margin-right: 15px;
  background-color: #fff;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: 100%;
}

.modal-body {
  padding-top: 0 !important;
}
